.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar{
}

button{
  margin-right: 10px;
}

a{
  margin-right: 10px;
}

mat-form-field{
  transform: scale(0.8);
}
