.mat-form-field {
  width: 100%;
}

#add_animal_button {
  float: right;
}

#delete_animal_button {
  float: inside;
}

#update_animal_button {
  float: right;
}

#aboart_button{
  margin-right: 10px;
}
