<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Vorname </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Nachname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Geschlecht </th>
      <td mat-cell *matCellDef="let element"> {{element.gender || 0}} </td>
    </ng-container>

    <ng-container matColumnDef="isEmployee">
      <th mat-header-cell *matHeaderCellDef> Ist Mitarbeiter </th>
      <td mat-cell *matCellDef="let element"> {{element.isEmployee || false}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openVetUserDialog(row, false)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<button mat-raised-button color="accent" (click)="openPayDialog()" id="pay_button">
  Kosten bezahlen
</button>

<button mat-raised-button color="accent" (click)="openVetUserDialog({
    uid: '',
    gender: 0,
    firstName: '',
    lastName: '',
    isEmployee: false,
    dept: 0}, true)" id="add_vetuser_button" *ngIf="this.constants.isEmployee">Benutzer hinzufügen</button>
