.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

ng-container{

}

.mat-table {
  overflow-x: scroll;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

#add_vetuser_button {
  float: right
}
