<div style="text-align: center;">
  <h1>SmartCity Tierarzt</h1>
  <p>Der SmartCity Tierarzt kümmert sich um das wohlergehen aller vierbeinigen Bewohner!
    Bürgerinnen und Bürger können einfach und schnell Termine anfordern, Behandlungen bezahlen und an anstehende
    Termine erinnert werden.</p>
  <p>Mitarbeitern des Tierarztes wird ermöglicht bevorstehende Behandlungen einzusehen, sodass sich
    entsprechend vorbereitet werden kann. Außerdem ermöglicht der Tierarzt Service ein einfaches Verwalten von Tier und
    Kundendaten.</p>
</div>
