
<div style="text-align: center;">
  <table mat-table [dataSource]="animaldataItems" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.animalname}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Art </th>
      <td mat-cell *matCellDef="let element"> {{element.animaltype}} </td>
    </ng-container>

    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef> Rasse </th>
      <td mat-cell *matCellDef="let element"> {{element.animalrace}} </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef> Größe (in cm) </th>
      <td mat-cell *matCellDef="let element"> {{element.animalheight}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Gewicht (in kg) </th>
      <td mat-cell *matCellDef="let element"> {{element.animalweight}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div style="text-align: center;">
  <div>
    <mat-form-field color="accent">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="accent">
      <mat-label>Art</mat-label>
      <input matInput type="text" [(ngModel)]="type">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="accent">
      <mat-label>Rasse</mat-label>
      <input matInput type="text" [(ngModel)]="race">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="accent" >
      <mat-label>Größe (in cm)</mat-label>
      <input matInput type="number" [(ngModel)]="height">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="accent">
      <mat-label>Gewicht (in kg)</mat-label>
      <input matInput type="number" [(ngModel)]="weight">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="addAnimalData()" id="add_animal_button">Tierdaten hinzufügen</button>
  </div>
</div>
