<h1 mat-dialog-title>Termin Informationen</h1>
<br>
<div>
  <mat-label>Termingrund</mat-label>
  <p type="text">{{data.reason}}</p>
</div>
<br>
<div>
  <mat-label>Datum</mat-label>
  <p type="text">{{data.date.toLocaleDateString()}}</p>
</div>
<br>
<div>
  <mat-label>Beginn</mat-label>
  <p type="text">{{data.starttime}}</p>
</div>
<br>
<div>
  <mat-label>Ende</mat-label>
  <p type="text">{{data.endtime}}</p>
</div>
<br>
<div>
  <mat-label>Tiername</mat-label>
  <p type="text">{{data.animalname}}</p>
</div>
<br>
<br>
<div>
  <button mat-raised-button color="accent" (click)="closeDialog()">Schließen</button>
  <button mat-raised-button color="accent" (click)="cancelAppointment()" id="cancle_button">Absagen</button>
</div>
